<!DOCTYPE html>
<html>

<head>
    <title>Regular Expression Test</title>
    <link rel="stylesheet" href="vscode-codicons" />
    <link rel="stylesheet" href="css/common.css" />
    <style>
        .True {
            color: var(--vscode-testing-iconPassed);
        }

        .False {
            color: var(--vscode-testing-iconFailed);
        }

        .regularExpression,
        .contentToTest {
            margin-bottom: 10px;
        }

        .regularExpression_textField vscode-text-field,
        .contentToTest_textArea vscode-text-area {
            width: 100%;
            margin-bottom: 5px;
        }

        .regularExpression_operation vscode-button:not(:last-child),
        .contentToTest_operation vscode-button:not(:last-child) {
            margin-right: 10px;
        }
    </style>
</head>

<body>

    <div id="app">
        <form>
            <div class="regularExpression">
                <div class="regularExpression_textField">
                    <vscode-text-field v-model="state.regex">Regular Expression: </vscode-text-field>
                </div>
                <div class="regularExpression_operation">
                    <vscode-button @click="copyAction('regex')"><span class="codicon codicon-clippy"></span>&nbsp;Copy
                    </vscode-button>
                    <vscode-button @click="pasteAction('regex')"><span class="codicon codicon-clippy"></span>&nbsp;Paste
                    </vscode-button>
                    <vscode-button @click="clearAction('regex')"><span class="codicon codicon-trash"></span>&nbsp;Clear
                    </vscode-button>
                </div>
            </div>
            <div class="contentToTest">
                <div class="contentToTest_textArea">
                    <vscode-text-area v-model="state.content" rows="5">Content to test: </vscode-text-area>
                </div>
                <div class="contentToTest_operation">
                    <vscode-button @click="copyAction('content')"><span class="codicon codicon-clippy"></span>&nbsp;Copy
                    </vscode-button>
                    <vscode-button @click="pasteAction('content')"><span
                            class="codicon codicon-clippy"></span>&nbsp;Paste</vscode-button>
                    <vscode-button @click="clearAction('content')"><span
                            class="codicon codicon-trash"></span>&nbsp;Clear</vscode-button>
                </div>
            </div>
            <vscode-divider></vscode-divider>
            <div>
                <div>Result: </div>
                <div v-html="state.result"></div>
            </div>
        </form>
    </div>

    <script type="module" src="vscode-webview-ui-toolkit"></script>
    <script src="js/vue3.js"></script>
    <script src="js/common.js"></script>
    <script>
        'use strict';
        const vscode = acquireVsCodeApi();

        const app = Vue.createApp({
            data() {
                return {
                    state: {
                        regex: '',
                        content: '',
                        result: '',
                    },
                };
            },
            created() {
                let preState = vscode.getState();
                if (preState) this.state = preState;
            },
            watch: {
                'state.regex'() {
                    this.checkAction();
                },
                'state.content'() {
                    this.checkAction();
                },
            },
            methods: {
                checkAction() {
                    if (this.state.regex) {
                        try {
                            let pattern = new RegExp(this.state.regex, 'g');
                            if (this.state.content) {
                                let match = this.state.content.match(pattern);
                                let resultHtml = '';
                                if (match) {
                                    console.log(match);
                                    for (let i in match) {

                                        resultHtml += `<div><span class="codicon codicon-circle-filled"></span>&nbsp;${htmlEscape(match[i])}</div>`;
                                    }
                                    this.state.result = `<span class="True"><span class="codicon codicon-check"></span>&nbsp;True, match: </span>${resultHtml}`
                                } else {
                                    this.state.result = '<span class="False"><span class="codicon codicon-close"></span>&nbsp;False</span>';
                                }
                            } else {
                                this.state.result = '';
                            }
                        } catch (e) {
                            this.state.result = `<span class="codicon codicon-alert"></span>&nbsp;${htmlEscape(e.message)}`;
                        }
                    } else {
                        this.state.result = '';
                    }
                    vscode.setState(this.state);
                },
                copyAction(target) {
                    if (this.state[target]) {
                        window.navigator.clipboard.writeText(this.state[target]);
                    }
                },
                pasteAction(target) {
                    window.navigator.clipboard.readText().then(text => {
                        if (text) {
                            this.state[target] = text;
                        }
                    });
                },
                clearAction(target) {
                    this.state[target] = '';
                },
            },
        });
        app.config.compilerOptions.isCustomElement = tag => tag.startsWith('vscode-');
        const appInstance = app.mount('#app');
    </script>
</body>

</html>