<!DOCTYPE html>
<html>

<head>
    <title>SS</title>
    <link rel="stylesheet" href="vscode-codicons" />
    <link rel="stylesheet" href="css/common.css" />
    <style>
        .list {
            margin: 5px 0px;
        }

        .button {
            margin: 5px;
            vertical-align: middle;
        }

        .text {
            word-break: break-all;
            margin: 5px;
        }

        .list {
            overflow: auto;
            height: calc(100% - 62px);
        }

        html,
        body,
        #app {
            height: 100%;
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="head" ref="head">
            <div>
                <vscode-button class="button" @click="copySelectedAction()"><span
                        class="codicon codicon-clippy"></span>&nbsp;Copy Selected</vscode-button>
                <vscode-button class="button" @click="copyAllAction()"><span
                        class="codicon codicon-clippy"></span>&nbsp;Copy All</vscode-button>
                <vscode-button class="button" @click="refreshAction()"><span
                        class="codicon codicon-refresh"></span>&nbsp;Refresh</vscode-button>
                <span v-if="!state.loading && state.list.length !== 0">{{state.list.length}} Items</span>
            </div>
            <vscode-divider></vscode-divider>
        </div>

        <div class="list">
            <vscode-progress-ring v-if="state.loading"></vscode-progress-ring>
            <div v-if="!state.loading && state.list.length === 0">No Data</div>

            <template v-for="(i, index) in state.list" :key="i.origin + index">
                <div class="item">
                    <vscode-checkbox :checked="i.checked" @change="checkAction(index, $event.target.checked)">
                    </vscode-checkbox>
                    <vscode-button class="button" @click="copyAction(i)"><span
                            class="codicon codicon-clippy"></span>&nbsp;Copy</vscode-button>
                    <span class="text">{{i.decode}}</span>
                </div>
                <vscode-divider></vscode-divider>
            </template>
        </div>
    </div>

    <script type="module" src="vscode-webview-ui-toolkit"></script>
    <script src="js/vue3.js"></script>
    <script src="js/common.js"></script>
    <script>
        'use strict';
        const vscode = acquireVsCodeApi();

        const app = Vue.createApp({
            data() {
                return {
                    state: {
                        list: [],
                        loading: true,
                    },
                };
            },
            created() {
                let preState = vscode.getState();
                if (preState) this.state = preState;
            },
            methods: {
                saveState() {
                    vscode.setState(this.state);
                },
                receiveMessage(message) {
                    switch (message.operation) {
                        case 'init': {
                            vscode.postMessage({
                                operation: 'query',
                            });
                            break;
                        }
                        case 'result': {
                            this.state.list = message.parameter.list;
                            this.state.loading = false;
                            this.saveState();
                            break;
                        }
                    }
                },
                copyAction(target) {
                    window.navigator.clipboard.writeText(target.origin);
                },
                copyAllAction() {
                    window.navigator.clipboard.writeText(this.state.list.map(i => i.origin).join('\n'));
                },
                copySelectedAction() {
                    let checked = this.state.list.filter(i => i.checked);
                    if (checked.length > 0) {
                        window.navigator.clipboard.writeText(this.state.list.filter(i => i.checked).map(i => i.origin).join('\n'));
                    }
                },
                checkAction(index, value) {
                    this.state.list[index].checked = value;
                    this.saveState();
                },
                refreshAction() {
                    this.state = {
                        list: [],
                        loading: true,
                    };
                    this.saveState();
                    vscode.postMessage({
                        operation: 'query',
                    });
                },
            },
        });
        app.config.compilerOptions.isCustomElement = tag => tag.startsWith('vscode-');
        const appInstance = app.mount('#app');

        window.addEventListener('message', event => {
            appInstance.receiveMessage(event.data);
        });
    </script>
</body>

</html>