<!DOCTYPE html>
<html>

<head>
    <title>Translation</title>
    <link rel="stylesheet" href="vscode-codicons" />
    <link rel="stylesheet" href="css/common.css" />
    <style>
        .headLeft,
        .headCenter,
        .headRight {
            display: inline-block;
        }

        .textArea {
            width: 100%;
        }

        .headCenter {
            width: 30px;
            text-align: center;
            vertical-align: top;
        }

        .headLeft,
        .headRight {
            width: calc(50% - 15px);
            vertical-align: top;
        }

        .headOperation {
            margin: 5px 0px;
        }

        .history {
            margin: 7px 0px 20px 0px;
        }

        .translate {
            margin-bottom: 20px;
        }

        .langSelect {
            width: 150px;
            margin-right: 10px;
        }

        .historyPanel {
            z-index: 3;
            position: absolute;
            margin-left: 20px;
            border: 1px solid;
            background-color: var(--vscode-editor-background);
            width: 150px;
            height: 200px;
            text-align: left;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .historyItem {
            padding: 3px 5px;
            cursor: pointer;
        }

        .historyItem:hover {
            background-color: var(--vscode-button-background);
        }

        .operationButton {
            margin-right: 5px;
        }

        .operationGroup {
            display: inline-block;
        }

        .pronunceButton,
        .pronunce {
            vertical-align: middle;
        }

        .pronunceButton {
            margin-right: 5px;
        }

        .pronunce.withSrc {
            margin-right: 5px;
        }

        .pronunceSourceLang {
            color: var(--vscode-charts-green);
        }

        .exampleIndex {
            margin-right: 10px;
        }

        .exampleItem {
            margin: 10px 0px;
        }

        .dictPos {
            margin-bottom: 5px;
            color: var(--vscode-charts-green);
        }

        .dictEntry {
            margin-bottom: 10px;
        }

        .dictWord {
            padding-right: 10px;
            word-break: keep-all;
            vertical-align: top;
            color: var(--vscode-charts-blue);
        }

        .dictReverse {
            vertical-align: top;
        }

        .dictPosIcon {
            margin-right: 5px;
        }

        .alterItem {
            margin-bottom: 5px;
        }

        .alterTitle {
            margin-bottom: 5px;
        }

        .link {
            cursor: pointer;
        }

        .link:hover {
            border: 1px solid;
        }

        .defineTitle {
            word-break: keep-all;
            vertical-align: top;
            color: var(--vscode-charts-blue);
        }
    </style>
</head>

<body>

    <div id="app">
        <div>
            <form>
                <div class="headLeft">
                    <div class="headOperation">
                        <vscode-dropdown class="langSelect" v-model="state.sourceLang"
                            @change="sourceLangChange($event.target.value)">
                            <vscode-option v-for="(i, index) in sourceLangList" :key="i.key + index" :value="i.key"
                                :title="i.label">{{i.label}}</vscode-option>
                        </vscode-dropdown>
                        <div class="operationGroup">
                            <vscode-button class="operationButton first" appearance="icon" title="Copy"
                                @click="copyAction('source')">
                                <span class="codicon codicon-repo-pull"></span>
                            </vscode-button>
                            <vscode-button class="operationButton" appearance="icon" title="Paste"
                                @click="pasteAction('source')">
                                <span class="codicon codicon-repo-push"></span>
                            </vscode-button>
                            <vscode-button class="operationButton" appearance="icon" title="Clear"
                                @click="clearAction('source')">
                                <span class="codicon codicon-trash"></span>
                            </vscode-button>
                        </div>
                    </div>

                    <div>
                        <vscode-text-area v-model="state.source" class="textArea" rows="5" maxlength="200"
                            placeholder="Original Text">
                        </vscode-text-area>
                    </div>

                    <div>
                        <div>
                            <vscode-button class="pronunceButton" appearance="icon" @click="pronunciation('source')">
                                <span class="codicon codicon-unmute"></span>
                            </vscode-button>
                            <span class="pronunce withSrc">{{sourcePronunce}}</span>
                            <span class="pronunceSourceLang">{{pronunceSourceLang}}</span>
                        </div>
                    </div>
                </div>

                <div class="headCenter">
                    <div class="history">
                        <vscode-button appearance="icon" title="History" @click="showHistory = true"
                            @focusout="hideHistory()">
                            <span class="codicon codicon-history"></span>
                        </vscode-button>
                        <div v-if="showHistory" class="historyPanel">
                            <div v-for="(i, index) in state.history" :key="i + index" class="historyItem" :title="i"
                                @click="historySelect(i)">{{i}}</div>
                        </div>
                    </div>
                    <div class="translate">
                        <vscode-button appearance="icon" title="Translate" @click="query()">
                            <span class="codicon codicon-play"></span>
                        </vscode-button>
                    </div>
                    <div>
                        <vscode-button appearance="icon" title="Swap" @click="swapAction()">
                            <span class="codicon codicon-arrow-swap"></span>
                        </vscode-button>
                    </div>
                </div>

                <div class="headRight">
                    <div class="headOperation">
                        <vscode-dropdown class="langSelect" v-model="state.targetLang"
                            @change="targetLangChange($event.target.value)">
                            <vscode-option v-for="(i, index) in targetLangList" :key="i.key + index" :value="i.key"
                                :title="i.label">{{i.label}}</vscode-option>
                        </vscode-dropdown>
                        <div class="operationGroup">
                            <vscode-button class="operationButton first" appearance="icon" title="Copy"
                                @click="copyAction('target')">
                                <span class="codicon codicon-repo-pull"></span>
                            </vscode-button>
                            <vscode-button class="operationButton" appearance="icon" title="Paste"
                                @click="pasteAction('target')">
                                <span class="codicon codicon-repo-push"></span>
                            </vscode-button>
                            <vscode-button class="operationButton" appearance="icon" title="Clear"
                                @click="clearAction('target')">
                                <span class="codicon codicon-trash"></span>
                            </vscode-button>
                        </div>
                    </div>

                    <div>
                        <vscode-text-area v-model="state.target" class="textArea" rows="5" maxlength="200"
                            placeholder="Translation">
                        </vscode-text-area>
                    </div>

                    <div>
                        <div>
                            <vscode-button class="pronunceButton" appearance="icon" @click="pronunciation('target')">
                                <span class="codicon codicon-unmute"></span>
                            </vscode-button>
                            <span class="pronunce">{{targetPronounce}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <vscode-divider></vscode-divider>

        <div>
            <vscode-progress-ring v-if="state.loading"></vscode-progress-ring>
            <vscode-panels v-if="state.result" activeid="translation" aria-label="With Active Tab">
                <vscode-panel-tab id="translation">Tanslation</vscode-panel-tab>
                <vscode-panel-tab id="definition">Definition</vscode-panel-tab>
                <vscode-panel-tab id="example">Example</vscode-panel-tab>

                <vscode-panel-view aria-labelledby="translation">
                    <div v-if="state.result.dict">
                        <div class="dictItem" v-for="(i, index) in state.result.dict" :key="i.pos + index">
                            <div class="dictPos"><span
                                    class="codicon codicon-debug-breakpoint-log dictPosIcon"></span>{{i.pos}}</div>
                            <div class="dictEntry">
                                <table>
                                    <tbody>
                                        <tr v-for="(j, jIndex) in i.entry" :key="j.word + jIndex">
                                            <td class="dictWord"><span class="link"
                                                    @click="toSwapQuery(j.word)">{{j.word}}</span></td>
                                            <td class="dictReverse">
                                                <span v-html="getDictReverse(j.reverse_translation)"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="state.result.alternative_translations && state.result.alternative_translations[0]">
                            <div class="alterTitle">Alternative:</div>
                            <div v-for="(i, index) in state.result.alternative_translations[0].alternative"
                                :key="i.word_postproc + index">
                                <div class="alterItem"><span
                                        class="codicon codicon-debug-breakpoint-log dictPosIcon"></span>{{i.word_postproc}}
                                </div>
                            </div>
                        </div>
                        <div v-else>No Data</div>
                    </div>
                </vscode-panel-view>

                <vscode-panel-view aria-labelledby="definition">
                    <div v-if="state.result.definitions">
                        <div class="exampleItem" v-for="(i, index) in state.result.definitions" :key="i.pos + index">
                            <div class="dictPos"><span
                                    class="codicon codicon-debug-breakpoint-log dictPosIcon"></span>{{i.pos}}</div>
                            <div class="dictEntry">
                                <table>
                                    <tbody>
                                        <template v-for="(j, jIndex) in i.entry" :key="j.gloss + jIndex">
                                            <tr>
                                                <td class="dictWord" rowspan="3">
                                                    <vscode-badge>{{jIndex + 1}}</vscode-badge>
                                                </td>
                                                <td class="defineTitle">Definition:</td>
                                                <td>{{j.gloss}}</td>
                                            </tr>
                                            <tr>
                                                <td class="defineTitle">Example:</td>
                                                <td>{{j.example}}</td>
                                            </tr>
                                            <tr>
                                                <td class="defineTitle">Synonym:</td>
                                                <td>
                                                    <span
                                                        v-html="getDictReverse(getSynsetsByDefineId(j.definition_id))"></span>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div>No Data</div>
                    </div>
                </vscode-panel-view>

                <vscode-panel-view aria-labelledby="example">
                    <div v-if="state.result.examples">
                        <div class="exampleItem" v-for="(i, index) in state.result.examples.example"
                            :key="i.text + index">
                            <vscode-badge class="exampleIndex">{{index + 1}}</vscode-badge>
                            <span v-html="renderCode(i.text)"></span>
                        </div>
                    </div>
                    <div v-else>
                        <div>No Data</div>
                    </div>
                </vscode-panel-view>
            </vscode-panels>
        </div>
    </div>
    </div>

    <script type="module" src="vscode-webview-ui-toolkit"></script>
    <script src="js/vue3.js"></script>
    <script src="js/common.js"></script>
    <script src="js/language.js"></script>
    <script>
        'use strict';
        const vscode = acquireVsCodeApi();

        const app = Vue.createApp({
            data() {
                return {
                    state: {
                        sourceLang: 'auto',
                        targetLang: 'en',
                        source: null,
                        target: null,
                        result: null,
                        history: [],
                        loading: false,
                        temp: null,
                    },
                    sourceLangList: SOURCE_LANGUAGE,
                    targetLangList: TARGET_LANGUAGE,
                    showHistory: false,
                };
            },
            created() {
                setTimeout(() => {
                    let preState = vscode.getState();
                    if (preState) this.state = preState;
                }, 100);
            },
            computed: {
                synsetsEntries() {
                    let result = [];
                    if (this.state.result && this.state.result.synsets) {
                        this.state.result.synsets.forEach(i => {
                            result = [...result, ...i.entry];
                        });
                    }
                    return result;
                },
                sourcePronunce() {
                    return this.state.result ?
                        this.state.result.sentences[1] ?
                            this.state.result.sentences[1].src_translit : '' : '';
                },
                targetPronounce() {
                    return this.state.result ?
                        this.state.result.sentences[1] ?
                            this.state.result.sentences[1].translit : '' : '';
                },
                pronunceSourceLang() {
                    if (!this.state.result) {
                        return '';
                    }
                    for (let i in this.sourceLangList) {
                        if (this.sourceLangList[i].key === this.state.result.src) {
                            return `(${this.sourceLangList[i].label})`;
                        }
                    }
                    return '';
                },
            },
            watch: {
                'state.source'() {
                    this.setState();
                },
                'state.target'() {
                    this.setState();
                },
            },
            methods: {
                getSynsetsByDefineId(id) {
                    let result = [];
                    this.synsetsEntries.forEach(i => {
                        if (i.definition_id === id) {
                            result = [...result, ...i.synonym];
                        }
                    });
                    return result;
                },
                getDictReverse(arr) {
                    return arr.map(i => `<span class="link" onclick="appInstance.toQuery('${i}')">${i}</span>`).join(', ');
                },
                toQuery(text) {
                    this.state.source = text;
                    this.state.sourceLang = this.state.temp.sourceLang;
                    this.state.targetLang = this.state.temp.targetLang;
                    this.query();
                },
                toSwapQuery(text) {
                    this.state.target = text;
                    this.state.sourceLang = this.state.temp.sourceLang;
                    this.state.targetLang = this.state.temp.targetLang;
                    this.swapAction();
                },
                renderCode(text) {
                    return text.replaceAll('<b>', '<code>').replaceAll('</b>', '</code>');
                },
                setState() {
                    vscode.setState(this.state);
                },
                sourceLangChange(value) {
                    this.state.sourceLang = value;
                    this.setState();
                },
                targetLangChange(value) {
                    this.state.targetLang = value;
                    this.setState();
                },
                hideHistory() {
                    setTimeout(() => this.showHistory = false, 200);
                },
                copyAction(target) {
                    if (this.state[target]) {
                        window.navigator.clipboard.writeText(this.state[target]);
                    }
                },
                pasteAction(target) {
                    window.navigator.clipboard.readText().then(text => {
                        if (text) {
                            this.state[target] = text;
                        }
                    });
                },
                historySelect(text) {
                    this.state.source = text;
                    this.query();
                },
                swapAction() {
                    let t = this.state.source;
                    this.state.source = this.state.target;
                    this.state.target = t;
                    if (this.state.sourceLang === 'auto') {
                        if (this.state.result && this.state.result.src) {
                            this.state.sourceLang = this.state.targetLang;
                            this.state.targetLang = this.state.result.src;
                        }
                    } else {
                        t = this.state.sourceLang;
                        this.state.sourceLang = this.state.targetLang;
                        this.state.targetLang = t;
                    }
                    this.query();
                },
                pronunciation(type) {
                    if (this.state.temp) {
                        switch (type) {
                            case 'source': {
                                vscode.postMessage({
                                    operation: 'getTts',
                                    parameter: {
                                        sl: this.state.temp.sourceLang,
                                        tl: this.state.temp.sourceLang,
                                        q: this.state.temp.source,
                                    },
                                });
                                break;
                            }
                            case 'target': {
                                vscode.postMessage({
                                    operation: 'getTts',
                                    parameter: {
                                        sl: this.state.temp.targetLang,
                                        tl: this.state.temp.targetLang,
                                        q: this.state.temp.target,
                                    },
                                });
                                break;
                            }
                        }
                    }
                },
                clearAction(target) {
                    this.state[target] = null;
                },
                init(initState) {
                    this.state.sourceLang = initState.sl;
                    this.state.targetLang = initState.tl;
                    this.state.source = initState.q;
                    this.setState();
                    this.query();
                },
                query() {
                    if (this.state.source) {
                        this.state.target = null;
                        this.state.result = null;
                        this.state.loading = true;
                        this.state.history.unshift(this.state.source);
                        vscode.postMessage({
                            operation: 'getTranslate',
                            parameter: {
                                hl: this.state.targetLang,
                                tl: this.state.targetLang,
                                sl: this.state.sourceLang,
                                q: this.state.source,
                            },
                        });
                        this.setState();
                    }
                },
                receiveMessage(message) {
                    switch (message.operation) {
                        case 'init': {
                            this.init(message.parameter);
                            break;
                        }
                        case 'query': {
                            this.state.source = message.parameter.q;
                            this.query();
                            break;
                        }
                        case 'receiveTranslation': {
                            this.state.result = message.parameter;
                            this.state.target = message.parameter.sentences[0].trans;
                            this.state.temp = {
                                source: this.state.result.sentences[0].orig,
                                target: this.state.result.sentences[0].trans,
                                sourceLang: this.state.result.src,
                                targetLang: this.state.targetLang,
                            };
                            this.state.loading = false;
                            this.setState();
                            break;
                        }
                    }
                },
            },
        });
        app.config.compilerOptions.isCustomElement = tag => tag.startsWith('vscode-');
        const appInstance = app.mount('#app');

        window.addEventListener('message', event => {
            appInstance.receiveMessage(event.data);
        });
    </script>
</body>

</html>