node_modules
package-lock.json
build
sound

.vscode
script
.gitignore
.vscodeignore
tsconfig.json
src

!src/webview/**/*

!node_modules/@vscode/webview-ui-toolkit/dist/toolkit.min.js
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf