* {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

.codicon[class*='codicon-'] {
    font-size: var(--vscode-editor-font-size);
    display: inline-block;
    vertical-align: bottom;
}